{% extends "layout.html" %}

{% block content %}

    <main class="hero-section">
        <div class="container">

            <div class="section-content">
                <h2>Using jinja2 for loop</h2>
                {% for i in range(0,10)%}
                    <div>For loop iteration {{i+1}}</div>
                {% endfor %}
                {%for post in posts %}
                    <div><p>{{post.author.username}} says: <b>{{ post.body }}</b></p></div>
                {%endfor%}
                
            </div>

            <div class="clearfix"></div>
        </div>
    </main>

{% endblock %}